/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-image: url("https://designstripe-secure.imgix.net/scene-snapshots/38704d5d-3141-4d27-8587-b6347612d776/1664864438778/default?auto=format&h=1080&s=6a33d4388fd5f08d5c391fff564e9558"); */
}

/* Container */
div {
    padding: 10px;
    box-sizing: border-box;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

/* Input and Button Styles */
input[type="text"] {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 120px); /* Adjust width to fit the button */
    box-sizing: border-box;
}

button {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
p{
    text-align: start;
}
/* Modal Styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 18px;
}

.modal input[type="text"] {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 15px;
}

.modal button {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin: 0 5px;
}

.modal button:hover {
    background-color: #0056b3;
}

.modal button.cancel {
    background-color: #6c757d;
}

.modal button.cancel:hover {
    background-color: #5a6268;
}

.Prescriptions-table{
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    border: 1px solid black;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}
.search-box{
    display: flex;
    align-items: center;
    justify-content: center;

}